<div>
    <div style="margin: 5px">
        <label for="serverName">Server Name : </label>
        <input type="text" name="serverName" id="serverName" [(ngModel)]="serverObj.name">
    </div>

    <div style="margin: 5px">
        <label for="serverIpAddress">Server IP Address : </label>
        <input type="text" name="serverIpAddress" id="serverIpAddress" [(ngModel)]="serverObj.ipAddress">
    </div>

    <div style="margin: 5px">
        <button (click)="onUpdateServer()">Save</button>
    </div>
</div>