<div class="wrapper">
    <div *ngIf="showEditForm">
        <app-add-server [server]="selectedServer" (updateServer)="onServerUpdated($event)"></app-add-server>
    </div>

    <div>
        <!-- <app-server-list></app-server-list> -->
        <table>
            <thead>
                <tr>
                    <th>Server Name</th>
                    <th>Server IP Address</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let server of serverList">
                    <td>{{server.name}}</td>
                    <td>{{server.ipAddress}}</td>
                    <td><button (click)="onSelectServer(server)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div #myDiv></div>