.table-container {
    background-color: #fff;
    max-width: 1100px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    color: rgb(4, 1, 29);
}

.portlet-title {
    color: rgb(4, 1, 29);
}

.table_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
