<h1 class="text-primary">{{pageTitle}}</h1>

<div class="container mt-5 w-50">
    <table class="table table-hover">
        <thead class="bg-dark" style="color: #fff;">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Birth Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList">
                <td>{{user.name}}</td>
                <td>{{user.age | number: '1.1-2'}}</td>
                <td>{{user.birthDate | date:'dd-MM-yyyy'}}</td>
                <td>
                    <span [ngClass]="{'bg-danger': !user.status}" class="bg-primary p-2"
                        style="border-radius: 15px; color:#fff">{{user.status ? 'Active':'Inactive'}}</span>
                </td>
                <td>
                    <button class="btn btn-info" (click)="onEditUser(user)">Edit</button>
                    <!-- <a [routerLink]="['/edit-user']" [state]="user" routerLinkActive="router-link-active" >Edit</a> -->
                    <!-- <button class="btn btn-info">Edit</button> -->
                    <!-- <a class="btn btn-info" [routerLink]="['/edit-user']" [state]="user" routerLinkActive="router-link-active" >Edit</a> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>